#!/bin/sh

# Set the resolution to 1360x768
xrandr --output VGA-1 --mode 1360x768

# Set wallpaper
feh --bg-fill $HOME/.config/.wallpaper

# Launch compositor for transparent terminals
compton --config $HOME/.config/compton/compton.conf &

# networkManager applet
nm-applet &

#hide pointer
unclutter --timeout 10 &

# Launch notification daemon
dunst &
